@model Tier.Dto.IP_Tickets

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caller_id_friendlyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caller_id_friendlyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent_id_friendlyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent_id_friendlyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.functionalci_id_friendlyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.functionalci_id_friendlyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date, "FullDateTime")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignment_date, "FullDateTime")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolution_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolution_date, "FullDateTime")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pending_reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pending_reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_spent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_spent) &nbsp;Segundos
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cumulatedpending_timespent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cumulatedpending_timespent) &nbsp;Segundos
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elapsedhours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elapsedhours, "FloatFixedPoint") &nbsp;Hora(s)
        </dd>

    </dl>
</div>