@model Tier.Dto.FEi_BagHours

@using (Ajax.BeginForm("SaveBagHours", "BackEnd", new AjaxOptions() { HttpMethod = "POST", OnFailure = "SaveBagHoursFail", OnSuccess = "SaveBagHoursSuccess", Confirm = "Desea guardar la bolsa de horas?" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.organization_id)
        @Html.DropDownListFor(m => m.organization_id, null, "-- Seleccione --", new { @class = "form-control select2" })
        @Html.ValidationMessageFor(m => m.organization_id)
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        @Html.LabelFor(m => m.contract_id)
        @Html.DropDownListFor(m => m.contract_id, null, "-- Seleccione --", new { @class = "form-control select2" })
        @Html.ValidationMessageFor(m => m.contract_id)
    </div>
   <!-- /.form-group -->
    <div class="form-group">
        <input type="button" name="btnViewContratDetails" id="btnViewContratDetails" value="Ver detalle" class="btn btn-info" disabled="disabled" data-toggle="modal" data-target="#myModalCD" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.quantity)
        @Html.TextBoxFor(m => m.quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.quantity)
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        @Html.LabelFor(m => m.is_warranty) &nbsp;
        @Html.CheckBox("is_warranty", new { @class = "minimal" })
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        @Html.LabelFor(m => m.notes)
        @Html.TextAreaFor(m => m.notes, new { @class = "form-control" })
    </div>
    <!-- /.form-group -->
    <!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-default pull-right" id="btnResetBagHoursForm">Limpiar</button>
    </div>
}