@{
    ViewBag.Title = "Usuarios";
    ViewBag.SectionTitle = "Gestión de usuarios administradores";
    Layout = "~/Views/Shared/_Layout_Back.cshtml";
}
<!-- Small boxes (Stat box) -->
<div class="row">
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-pencil-square-o"></i>
                <h3 class="box-title">Formulario</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="divUsersForm">
                @Html.Partial("_FormCreateUsers")
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list"></i>
                <h3 class="box-title">Lista</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body divTableUsersList">
                @Html.Partial("_TableUsers", (IEnumerable<Tier.Dto.FEi_User>)ViewBag.usersList)
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row (main row) -->
<!-- modal detalle de usuario -->
@Html.Partial("_ModalUserDetails")

<script>
    function NotifyFailureAjax(data) {
        new PNotify({
            title: "Error en la solicitud",
            text: data.statusText,
            type: "error",
            hide: true
        });
    }

    function SaveUserSuccess(data) {
        if (data.result) {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });

            $("#btnResetUsersForm").click();

            RefreshUsersTable();
        }
        else {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });
        }
    }

    function SaveUserFail(data) {
        NotifyFailureAjax(data);
        console.log(data.responseText);
    }

    function RefreshUsersTable() {
        $.get('@Url.Action("GetAllUsers", "BackEnd")', null, function (data) {
            $(".divTableUsersList").empty();
            $(".divTableUsersList").html(data);
        })
        .fail(function (ex) {
            NotifyFailureAjax(ex);
            console.log(ex.responseText);
        });
    }

    function EditUserFail(data) {
        NotifyFailureAjax(data);
        console.log(data.responseText);
    }

    function UpdateUserSuccess(data) {
        if (data.result) {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });

            $("#btnCancelUsersForm").click();

            RefreshUsersTable();
        }
        else {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });
        }
    }

    function UpdateUserFail(data) {
        NotifyFailureAjax(data);
        console.log(data.responseText);
    }

    function DeleteUserSuccess(data) {
        if (data.result) {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });

            RefreshUsersTable();
        }
        else {
            new PNotify({
                title: data.notificationTitle,
                text: data.notificationMessage,
                type: data.notificationType,
                hide: true
            });
        }
    }

    function DeleteUserFail(data) {
        NotifyFailureAjax(data);
        console.log(data.responseText);
    }

    $('#myModalUD').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var uId = button.data('idu') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        $.get("@Url.Action("GetUserById", "BackEnd")", { id: uId }, function (data) {
            $("#sUAlias").text(data.alias);

            switch (data.role) {
                case 2:
                    $("#sURole").html("<small class=\"label bg-gray\">" + "@Tier.Gui.Messages.RoleDisplayTextAdministrator" + "</small>");
                    break;
                case 1:
                    $("#sURole").html("<small class=\"label bg-gray\">" + "@Tier.Gui.Messages.RoleDisplayTextVendor" + "</small>");
                    break;
                default:
                    $("#sURole").html("<small class=\"label bg-gray\">N/A</small>");
                    break;
            }

            $("#sUFirstName").text(data.first_name);
            $("#sULastName").text(data.last_name);
            $("#sUEmail").text(data.email);
            $("#sUDepartment").text(data.department);

            switch (data.status) {
                case 4:
                    $("#sUStatus").html("<small class=\"label bg-aqua\">Activo</small>");
                    break;
                case 5:
                    $("#sUStatus").html("<small class=\"label bg-red\">Inactivo</small>");
                    break;
                default:
                    $("#sUStatus").html("<small class=\"label bg-gray\">N/A</small>");
                    break;
            }

            $("#sUNotes").text(data.notes);
        })
        .fail(function (ex) {
            NotifyFailureAjax(ex);
            console.log(ex.responseText);
        });
    });

    $('#myModalUD').on('hide.bs.modal', function (event) {
        $("#sUAlias").text("-");
        $("#sURole").text("-");
        $("#sUFirstName").text("-");
        $("#sULastName").text("-");
        $("#sUEmail").text("-");
        $("#sUDepartment").text("-");
        $("#sUStatus").text("-");
        $("#sUNotes").text("-");
    });
</script>